//@import 'vendor/normalize';
@import 'vendor/jquery-ui.structure';
//@import 'vendor/skeleton';
@import 'vendor/bootstrap';

@import 'partials/mixins';

@import 'components/fields';

.lb-row,
.lb-col {
	margin: 0.5em 0;
}

// for demo purposes
.row {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.lb-meta {
	margin: 0.5em 0;
	padding: 0.5em;
	font-size: 0.8em;
	background: #ddd;
	@include cf;
}

.lb-meta-left {
	float: left;
}

.lb-meta-right {
	float: right;
}

.lb-addButton {
	display: block;
	width: 100%;
	box-sizing: border-box;
	padding: 1em 0;
	text-align: center;
	cursor: pointer;
	border: 1px dashed orange;
}
