@import 'vendor/bootstrap';
@import 'vendor/jquery-ui.structure';

@import 'partials/mixins';
@import 'partials/variables';
@import 'components/fields';
@import 'components/metabox';
.lb-header {
	font-size: 1.571em;
	padding: .5em 2.100em;
	background-color: $LB_headerBgColor; 
	color: $white; 
}

footer {
	background-color: $LB_footerBgColor;
	padding: 0.5em 3em;
	color: $white; 
}

.lb-builder {
	margin: 0 3em; 
	input,
	textarea,
	select {
		// reset default input styles that may break our meta fields
		width: auto;
		padding: 0;
	}
}

.lb-row,
.lb-col {
	margin: 0.5em 0;

	img {
		max-width: 100%;
	}
}

.lb-cols {
	@include clearfix;
}

.lb-left {
	float: left;
}

.lb-right {
	float: right;
}


.lb-meta {
	margin: 0.5em 0;
	padding: 0.5em;
	font-size: 0.8em;
	background: #ddd;
	@include cf;
}

.lb-meta-left {
	float: left;
	max-width: 100%;
}

.lb-meta-right {
	float: right;
	max-width: 100%;
	
	input, select {
		max-width: 100%;
	}
}


.lb-addButton {
	display: inline-block;
	box-sizing: border-box;
	padding: 1em 2em;
	text-align: center;
	cursor: pointer;
	border: $LB_addButtonBorderSize dashed $LB_addButtonBorderColor;
	border-radius: $LB_addButtonBorderRadius; 
}
