@import 'vendor/bootstrap';
@import 'vendor/jquery-ui.structure';

@import 'partials/mixins';

@import 'components/fields';

.lb-builder {
	input,
	textarea,
	select {
		// reset default input styles that may break our meta fields
		width: auto;
		padding: 0;
	}
}

.lb-row,
.lb-col {
	margin: 0.5em 0;

	img {
		max-width: 100%;
	}
}

.lb-cols {
	@include clearfix;
}

.lb-meta {
	margin: 0.5em 0;
	padding: 0.5em;
	font-size: 0.8em;
	background: #ddd;
	@include cf;
}

.lb-meta-left {
	float: left;
	max-width: 100%;
}

.lb-meta-right {
	float: right;
	max-width: 100%;
	
	input, select {
		max-width: 100%;
	}
}

.lb-addButton {
	display: block;
	width: 100%;
	box-sizing: border-box;
	padding: 1em 0;
	text-align: center;
	cursor: pointer;
	border: 1px dashed orange;
}
