.lb-fields {
	display: table;
	width: 100%;
}

.lb-field {
	display: table-row;
}

.lb-field-label {
	display: table-cell;
	vertical-align: top;
	width: 20%;
	padding: 0.5em 1em 0.5em 0;
}

.lb-field-value {
	display: table-cell;
	vertical-align: top;
	padding: 0.5em 0;

	input,
	textarea {
		display: block;
		width: 100%;
		box-sizing: border-box;
		margin-top: 0.5em;

		&:first-child {
			margin-top: 0;
		}
	}

	input[type="text"],
	input[type="email"],
	input[type="password"] {
		background-color: $LB_inputBgColor;
		border: none; 
		padding: 0.5em 1em; 
	}
	
	input[type="radio"],
	input[type="radio"] + label,
	input[type="radio"] + label > span,
	input[type="checkbox"],
	input[type="checkbox"] + label {
		width: auto;
		display: inline-block;
		vertical-align: middle;	
	}

	input[type="radio"] + label > span {
		border: 1px solid #bbb;
		width:30px;
		height:30px;
	}

	input[type="radio"],
	input[type="checkbox"] {
		margin-right: 0.25em;
	}

	input[type="radio"] + label,
	input[type="checkbox"] + label {
		margin-right: 0.75em;
	}
	
	select {
		padding: 0.5em 1em; 
	}
}

.lb-field-list {

}

.lb-field-list-item {
	margin-top: 0.5em;

	&:first-child {
		margin-top: 0;
	}
}

.lb-field-list-item-meta {
	padding: 0.5em;
	font-size: 0.8em;
	background: #ddd;
	@include cf;
}

.lb-field-image {
	img {
		display: block;
		max-width: 50%;
	}
}
