$black: #000;
$white: #fff;
$dark_gray: #6f6e6e;
$gray: #a5a5a5;
$light_gray: #cccccc;
$lighter_gray: #ebebeb;
$subtle_gray: #f3f3f3;
$cyan: #00a0d2;
$cyan_darker: #007fa7;
$blue: #0073aa;



$LB_headerBgColor: $black; 
$LB_footerBgColor: $dark_gray; 

$LB_rowPanelBgColor: $lighter_gray;
$LB_metaBoxBgColor: $subtle_gray; 

$LB_addButtonBorderRadius: 6px; 
$LB_addButtonBorderSize: 2px; 
$LB_addButtonBorderColor: $light_gray; 

$LB_inputBgColor : #e4e4e4; 


